# Default git behavior
* text=auto

# CRLF => LF
*.md            text
*.gitattributes text
*.gitignore     text
*.svg           text
*.jsonc         text
*.json          text
.prettierrc     text
*.Dockerfile    text
*.webmanifest   text

# LF => CRLF


# binary
*.jpg binary
*.png binary
*.ico binary
*.webp binary
