# Default git behavior
* text=auto

# CRLF => LF
*.md            text
*.gitattributes text
*.gitignore     text
*.svg           text
*.jsonc         text
*.json          text
.prettierrc     text
*.Dockerfile    text
*.webmanifest   text

# LF => CRLF
*.ps1 text eol=crlf
*.reg text eol=crlf working-tree-encoding=UTF-16LE-BOM

# binary
*.jpg binary
*.png binary
*.ico binary
*.png binary
